In [1]:
import pandas as pd

In [10]:
# Read the data from the CSV file
data = pd.read_csv(r'data\owid-covid-data.csv')

In [12]:
data.head().T

,0,1,2,3,4
iso_code,AFG,AFG,AFG,AFG,AFG
continent,Asia,Asia,Asia,Asia,Asia
location,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan
date,2020-02-24,2020-02-25,2020-02-26,2020-02-27,2020-02-28
total_cases,5.0,5.0,5.0,5.0,5.0
...,...,...,...,...,...
human_development_index,0.511,0.511,0.511,0.511,0.511
excess_mortality_cumulative_absolute,NaN,NaN,NaN,NaN,NaN
excess_mortality_cumulative,NaN,NaN,NaN,NaN,NaN
excess_mortality,NaN,NaN,NaN,NaN,NaN
excess_mortality_cumulative_per_million,NaN,NaN,NaN,NaN,NaN

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166326 entries, 0 to 166325
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    166326 non-null  object
 1   continent                                   156370 non-null  object
 2   location                                    166326 non-null  object
 3   date                                        166326 non-null  object
 4   total_cases                                 163293 non-null  float64
 5   new_cases                                   163133 non-null  float64
 6   new_cases_smoothed                          161150 non-null  float64
 7   total_deaths                                145451 non-null  float64
 8   new_deaths                                  145487 non-null  float64
 9   new_deaths_smoothed                         143390 non-null  float64
 10  total_cases_per_million                     162535 non-null  float64
 11  new_cases_per_million                       162375 non-null  float64
 12  new_cases_smoothed_per_million              160398 non-null  float64
 13  total_deaths_per_million                    144706 non-null  float64
 14  new_deaths_per_million                      144742 non-null  float64
 15  new_deaths_smoothed_per_million             142651 non-null  float64
 16  reproduction_rate                           125820 non-null  float64
 17  icu_patients                                23463 non-null   float64
 18  icu_patients_per_million                    23463 non-null   float64
 19  hosp_patients                               24617 non-null   float64
 20  hosp_patients_per_million                   24617 non-null   float64
 21  weekly_icu_admissions                       5433 non-null    float64
 22  weekly_icu_admissions_per_million           5433 non-null    float64
 23  weekly_hosp_admissions                      10923 non-null   float64
 24  weekly_hosp_admissions_per_million          10923 non-null   float64
 25  new_tests                                   67317 non-null   float64
 26  total_tests                                 69255 non-null   float64
 27  total_tests_per_thousand                    69255 non-null   float64
 28  new_tests_per_thousand                      67317 non-null   float64
 29  new_tests_smoothed                          84035 non-null   float64
 30  new_tests_smoothed_per_thousand             84035 non-null   float64
 31  positive_rate                               78655 non-null   float64
 32  tests_per_case                              78084 non-null   float64
 33  tests_units                                 86386 non-null   object
 34  total_vaccinations                          45194 non-null   float64
 35  people_vaccinated                           42987 non-null   float64
 36  people_fully_vaccinated                     40241 non-null   float64
 37  total_boosters                              17539 non-null   float64
 38  new_vaccinations                            37447 non-null   float64
 39  new_vaccinations_smoothed                   84398 non-null   float64
 40  total_vaccinations_per_hundred              45194 non-null   float64
 41  people_vaccinated_per_hundred               42987 non-null   float64
 42  people_fully_vaccinated_per_hundred         40241 non-null   float64
 43  total_boosters_per_hundred                  17539 non-null   float64
 44  new_vaccinations_smoothed_per_million       84398 non-null   float64
 45  new_people_vaccinated_smoothed              83088 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  83088 non-null   float64
 47  stringency_index                            130072 non-null  float64
 48  population                                  165251 non-null  float64
 49  population_density                          147928 non-null  float64
 50  median_age                                  137831 non-null  float64
 51  aged_65_older                               136337 non-null  float64
 52  aged_70_older                               137092 non-null  float64
 53  gdp_per_capita                              138504 non-null  float64
 54  extreme_poverty                             91215 non-null   float64
 55  cardiovasc_death_rate                       136778 non-null  float64
 56  diabetes_prevalence                         143949 non-null  float64
 57  female_smokers                              106050 non-null  float64
 58  male_smokers                                104595 non-null  float64
 59  handwashing_facilities                      68569 non-null   float64
 60  hospital_beds_per_thousand                  123664 non-null  float64
 61  life_expectancy                             155268 non-null  float64
 62  human_development_index                     136253 non-null  float64
 63  excess_mortality_cumulative_absolute        5696 non-null    float64
 64  excess_mortality_cumulative                 5696 non-null    float64
 65  excess_mortality                            5696 non-null    float64
 66  excess_mortality_cumulative_per_million     5696 non-null    float64
dtypes: float64(62), object(5)
memory usage: 85.0+ MB

In [14]:
data["iso_code"].value_counts()

iso_code
ARG    795
MEX    795
THA    792
TWN    780
CHN    774
      ...
TKM    183
TUV    179
NIU    157
TKL    114
PCN     85
Name: count, Length: 238, dtype: int64